# Исследование надежности заемщиков

<strong>Описание проекта</strong>:
перед построением модели кредитного скоринга коллеги попросили исследовать датасет надежности заёмщиков. Исследование должно ответить на вопрос, какие показатели влияют на на погашение кредита в установленный срок

<strong>Цель проекта:</strong> Выяснить, как семейное положение и наличие детей влияет на погашение кредита в срок. Выявить инсайты, полезные для отдела кредитного скоринга.

<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Шаг-1.-Обзор-данных" data-toc-modified-id="Шаг-1.-Обзор-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Шаг 1. Обзор данных</a></span></li><li><span><a href="#Шаг-2.-Предобработка-данных" data-toc-modified-id="Шаг-2.-Предобработка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Шаг 2. Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Шаг-2.1-Проверка-данных-на-аномалии-и-исправления" data-toc-modified-id="Шаг-2.1-Проверка-данных-на-аномалии-и-исправления-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Шаг 2.1 Проверка данных на аномалии и исправления</a></span></li><li><span><a href="#Шаг-2.2-Заполнение-пропусков" data-toc-modified-id="Шаг-2.2-Заполнение-пропусков-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Шаг 2.2 Заполнение пропусков</a></span></li><li><span><a href="#Шаг-2.3.-Изменение-типов-данных" data-toc-modified-id="Шаг-2.3.-Изменение-типов-данных-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Шаг 2.3. Изменение типов данных</a></span></li><li><span><a href="#Шаг-2.4.-Удаление-дубликатов" data-toc-modified-id="Шаг-2.4.-Удаление-дубликатов-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Шаг 2.4. Удаление дубликатов</a></span></li><li><span><a href="#Шаг-2.5.-Формирование-дополнительных-датафреймов-словарей,-декомпозиция-исходного-датафрейма" data-toc-modified-id="Шаг-2.5.-Формирование-дополнительных-датафреймов-словарей,-декомпозиция-исходного-датафрейма-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Шаг 2.5. Формирование дополнительных датафреймов словарей, декомпозиция исходного датафрейма</a></span></li><li><span><a href="#Шаг-2.6.-Категоризация-дохода" data-toc-modified-id="Шаг-2.6.-Категоризация-дохода-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Шаг 2.6. Категоризация дохода</a></span></li><li><span><a href="#Шаг-2.7.-Категоризация-целей-кредита" data-toc-modified-id="Шаг-2.7.-Категоризация-целей-кредита-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Шаг 2.7. Категоризация целей кредита</a></span></li></ul></li><li><span><a href="#Шаг-3.-Анализ-данных" data-toc-modified-id="Шаг-3.-Анализ-данных-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Шаг 3. Анализ данных</a></span><ul class="toc-item"><li><span><a href="#Вопрос-1:-Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?" data-toc-modified-id="Вопрос-1:-Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Вопрос 1: Есть ли зависимость между количеством детей и возвратом кредита в срок?</a></span></li><li><span><a href="#Вопрос-2:-Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?" data-toc-modified-id="Вопрос-2:-Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Вопрос 2: Есть ли зависимость между семейным положением и возвратом кредита в срок?</a></span></li><li><span><a href="#Вопрос-3:-Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?" data-toc-modified-id="Вопрос-3:-Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Вопрос 3: Есть ли зависимость между уровнем дохода и возвратом кредита в срок?</a></span></li><li><span><a href="#Вопрос-4:-Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?" data-toc-modified-id="Вопрос-4:-Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Вопрос 4: Как разные цели кредита влияют на его возврат в срок?</a></span></li></ul></li><li><span><a href="#Шаг-4.-Общий-вывод" data-toc-modified-id="Шаг-4.-Общий-вывод-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Шаг 4. Общий вывод</a></span></li></ul></div>

### Шаг 1. Обзор данных

In [1]:
import pandas as pd
import warnings
import math

In [2]:
df = pd.read_csv('/datasets/data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

Итак, в таблице 12 столбцов:
* `children` - количество детей в семье
* `days_employed` - общий трудовой стаж в днях
* `dob_years` - возраст клиента в годах
* `education` - уровень образования клиента
* `education_id` - id уровня образования
* `family_status` - семейный статус
* `family_status_id` - id семейного статуса
* `gender` - пол
* `income_type` - тип занятости
* `debt` - наличие задолженности по кредиту
* `total_income` - совокупный доход
* `purpose` - цель кредита

В данных есть неточности:
* В колонках `days_employed` и `total_income` есть пропущенные значения null
* В `days_employed` вещественный формат числа, хотя ожидается целочисленный
* Количество значения null в столбцах `days_employed` и `total_income` совпадает

Проверим гипотезу о том, что для всех пользователей с неизвестным стажем работы также неизвестен и доход

In [3]:
null_strings = df[(df['days_employed'].isna())&(df['total_income'].isna())]
null_strings.shape

(2174, 12)

Гипотеза подтвердилась: для всех пользователей с неизвестным стажем работы также неизвестны значения дохода

### Шаг 2. Предобработка данных

#### Шаг 2.1 Проверка данных на аномалии и исправления

Для того, чтобы оценить аномалии в данных, найдем максимальные и минимальные значения количественных переменных. Для этого создадим функцию, к которой вернемся для перепровеки данных после замены аномалий

In [4]:
df[['children', 'days_employed', 'dob_years', 'debt', 'total_income']].describe().loc[['min', 'max']].astype('int')

     children  days_employed  dob_years  debt  total_income
min        -1         -18388          0     0         20667
max        20         401755         75     1       2265604

В данных можно заметить следующие ошибки:
* в столбце `children` есть строки или строка с отрицательным количеством детей
* в столбце `children` есть строки или строка с подозрительным большим количеством детей
* в столбце `days_employed` есть строки или строка с отрицательным количеством дней трудового стажа
* в столбце `days_employed` есть строки или строка с аномально высоким количеством дней трудового стажа
* в столбце `dob_years` есть строки или строка с возрастом 0

Начнем со столбца `children`. Для того, чтобы оценить масштаб ошибки, проверим, какие значения в столбце `children` встречаются чаще всего

In [5]:
df['children'].value_counts()

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

В сгруппированных значениях можно увидеть, что:
* Клиентов с отрицательным количеством детей не так много
* Клиенты с 20-ю детьми выбиваются из общей статистики. В теории они могут встречаться в жизни, однако их должно быть существенно меньше, чем клиентов с 4-мя или 5-ю детьми

Можно сделать предположение, что значения `-1` - это данные, введенные с дефисом, а `20` детей - это лишний `ноль`, подразумевающий `2` ребенка в семье. Для подтверждения гипотезы можно сравнить медианный возраст клиентов с `одним` ребенком с медианным возрастом клиентов, указавших значение `-1`

Затем аналогичное повторить со второй ошибкой

Перед проверкой гипотезы нужно разобраться с некорректным возрастом, чтобы тот не повлиял на выводы. Посчитаем уникальные  с возрастом:

In [6]:
df['dob_years'].unique()

array([42, 36, 33, 32, 53, 27, 43, 50, 35, 41, 40, 65, 54, 56, 26, 48, 24,
       21, 57, 67, 28, 63, 62, 47, 34, 68, 25, 31, 30, 20, 49, 37, 45, 61,
       64, 44, 52, 46, 23, 38, 39, 51,  0, 59, 29, 60, 55, 58, 71, 22, 73,
       66, 69, 19, 72, 70, 74, 75])

На лицо техническая ошибка. Возможно, данные null были заменены на 0. Дополнительно стоит посчитать, сколько нулевых значений есть в фрейме:

In [7]:
df[df['dob_years'] == 0]['dob_years'].count()

101

В целом, немного, поэтому мы можем просто заменить такие значения на средние или медианные. В данном случае воспользуемся медианой и не забудем сохранить целочисленный формат

In [8]:
years_median = df.loc[df['dob_years'] != 0, 'dob_years'].median()
df.loc[df['dob_years'] == 0, 'dob_years'] = years_median.astype('int')

После того, как в столбце `dob_years` не осталось ошибок, можем перейти к проверке гипотезы о человеческом факторе ошибок в столбце `children`. Для этого создадим функцию, которая возвращает медианный возраст клиента в зависимости от количества детей в семье.

Затем можно передать все уникальные значения столбца `children` созданной функции через цикл. Так мы сможем понять медианный возраст клиентов в зависимости от того, сколько детей в семье они указали

In [9]:
def parent_age(children):
    return df[(df['children'] == children)]['dob_years'].median().astype('int')

children_variety_list = df['children'].unique()
age_list = []

for number in children_variety_list:
    age_list.append(parent_age(number))
pd.DataFrame(age_list, index=children_variety_list)

      0
 1   38
 0   48
 3   36
 2   35
-1   41
 4   35
 20  42
 5   36

Зависимость среднего возраста от наличия детей не раскрыла полной картины, но дала несколько подсказок:
* Средний возраст клиентов без детей - `48` лет. Это может означать, что банк просил указывать только несовершеннолетних детей
* Медианные возрасты тех, кто указал значения `-1` и `20`, близки друг к другу: `41` и `42` года соответственно
* Зависимость количества детей и возраста клиента не явная, но обратная. Прослеживается лишь зависимость возраста и факта наличия/отсутствия детей
* Медианные возрасты тех, кто указал `1` ребенка и тех, кто указал `-1` ребенка, не различаются существенно
* Медианные возрасты тех, кто указал `2` детей и тех, кто указал `20` детей, существенно различаются

Однозначно гипотезу подтвердить не удалось. Ошибочных данных в столбце совсем немного, и вероятно, для клиентов, указавших значения `-1` и `20`, стоит заменить количество детей на медианное значение

In [10]:
children_median = df.loc[(df['children'] !=-1)&(df['children'] !=20), 'children'].median().astype('int')
df.loc[(df['children'] == -1)|(df['children'] == 20), 'children'] = children_median

В столбце `days_employed` также замечены аномалии. Отрицательного трудового стажа не может быть в принципе, а максимальное значение выглядит подозрительно большим:

In [11]:
days_per_year = 365.242196
years_employed_max = (df['days_employed'].max() / days_per_year).astype('int')
f'самый долгий трудовой стаж в фрейме: {years_employed_max} лет'

'самый долгий трудовой стаж в фрейме: 1099 лет'

In [12]:
days_employed_count = df['days_employed'].count()
days_employed_count_error = df[df['days_employed'] < 0]['days_employed'].count()
error_share = days_employed_count_error / days_employed_count
f'отрицательных значений в трудовом стаже: {days_employed_count_error}, это {error_share:.0%} от всех значений'

'отрицательных значений в трудовом стаже: 15906, это 82% от всех значений'

Такие значения точно исказят статистику. Пока единственное объяснение искажениям - запись отрицательного числа вместо положительного. Для более подробного изучения отрицательных значений стоит перевести их в более привычный формат - стаж в годах

In [13]:
years_employed_error = (df[df['days_employed'] < 0]['days_employed'] / days_per_year).astype('int')
pd.DataFrame(data=years_employed_error.value_counts().head(10))

    days_employed
-1           2025
-2           1883
 0           1827
-3           1559
-4           1347
-5           1026
-6            966
-7            809
-8            747
-9            571

Если отбросить "минус", данные выглядят правдоподобно:
* Чаще всего клиенты имеют 1-2 полных года стажа работы
* Реже всего встречаются клиенты со стажем более 30 лет

Исправим эту ошибку и уберем минус из отрицательных значений:

In [14]:
df['days_employed'] = abs(df['days_employed'])

Теперь стоит проработать аномально высокие значения столбца `days_employed`. Для этого отфильтруем данные только по тем пользователям, стаж которых выше максимального возраста за вычетом нетрудоспособных лет (предположим, что человек может работать с 14-летнего возраста). После фильтрации изучим полученные значения

In [15]:
anomaly_employees = df[df['days_employed'] > (df['dob_years'] * days_per_year - 14)]
anomaly_employees.sort_values(by='days_employed', ascending=False).head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
6954,0,401755.400475,56,среднее,1,вдовец / вдова,2,F,пенсионер,0,176278.441171,ремонт жилью
10006,0,401715.811749,69,высшее,0,Не женат / не замужем,4,F,пенсионер,0,57390.256908,получение образования
7664,1,401675.093434,61,среднее,1,женат / замужем,0,F,пенсионер,0,126214.519212,операции с жильем
2156,0,401674.466633,60,среднее,1,женат / замужем,0,M,пенсионер,0,325395.724541,автомобили
7794,0,401663.850046,61,среднее,1,гражданский брак,1,F,пенсионер,0,48286.441362,свадьба
4697,0,401635.032697,56,среднее,1,женат / замужем,0,F,пенсионер,0,48242.322502,покупка недвижимости
13420,0,401619.633298,63,Среднее,1,гражданский брак,1,F,пенсионер,0,51449.788325,сыграть свадьбу
17823,0,401614.475622,59,среднее,1,женат / замужем,0,F,пенсионер,0,152769.694536,покупка жилья для сдачи
10991,0,401591.828457,56,среднее,1,в разводе,3,F,пенсионер,0,39513.517543,получение дополнительного образования
8369,0,401590.452231,58,среднее,1,женат / замужем,0,F,пенсионер,0,175306.312902,образование
1184,0,401575.196728,55,среднее,1,гражданский брак,1,M,пенсионер,0,29749.813177,на проведение свадьбы
4949,0,401573.905288,54,среднее,1,женат / замужем,0,F,пенсионер,0,52927.428675,покупка коммерческой недвижимости
15192,0,401556.753550,68,Высшее,0,гражданский брак,1,F,пенсионер,0,231820.611741,свадьба
5716,0,401524.259153,57,среднее,1,вдовец / вдова,2,F,пенсионер,0,143342.778458,приобретение автомобиля
10484,0,401517.276388,68,среднее,1,женат / замужем,0,F,пенсионер,0,304295.888626,операции с жильем
16237,0,401486.706746,64,СРЕДНЕЕ,1,женат / замужем,0,F,пенсионер,0,69467.029954,покупка жилья для сдачи
15599,0,401458.877781,61,среднее,1,гражданский брак,1,F,пенсионер,0,206302.653137,покупка жилой недвижимости
701,0,401446.446720,56,высшее,0,женат / замужем,0,F,пенсионер,0,207240.041495,покупка жилья для сдачи
14356,0,401440.834336,62,начальное,3,женат / замужем,0,F,пенсионер,1,284301.643893,автомобиль
5762,0,401381.736156,52,среднее,1,женат / замужем,0,F,пенсионер,0,44999.213386,строительство жилой недвижимости

Данные дают следующее представление об аномалии:
* Столбец `days_employed` выглядит как представление данных в другом формате. 
* В выборке все клиенты с аномально высоким стажем работы - пенсионеры (столбец `income_type`)

Можно предположить, что такая аномалия связана с типом доходов: пенсионеры не работают, а получают пенсию, поэтому `days_employed` содержит другую информацию. Для начала стоит посчитать, действительно ли проблема с аномально высокими значениями стажа работы касается только пенсионеров

In [16]:
anomaly_employees['income_type'].value_counts()

пенсионер      3443
безработный       2
Name: income_type, dtype: int64

Да, проблема действительно касается только пенсионеров (и двух безработных клиентов). Здесь нужно учесть логику работы с пенсионерами и безработными:
* предусмотрено, что стаж влияет на платежеспособность клиента
* стаж пенсионера не может влиять на его платежеспособность. Платежеспособность пенсионера обеспечена не работой, а пенсионными выплатами и иными источниками дохода
* стаж безработного также не влияет на его платежеспособность. Платежеспособность безработного обеспечена иными источниками дохода

Для удобного использования данных в последующих блоках мы можем заменить все значения для пенсионеров и безработных на медианное значение. Однако при ответе на вопрос, влияет ли стаж работы на выплату, пенсионеры и безработные должны быть исключены из выборки

In [17]:
days_employed_median = df[(df['income_type'] != 'пенсионер')&(df['income_type'] != 'безработный')]['days_employed'].median()
kaka = df.loc[(df['income_type'] == 'пенсионер')|(df['income_type'] == 'безработный'), 'days_employed'] = days_employed_median

После всех преобразований проверим размах числовых значений в исходном фрейме:

In [18]:
df[['children', 'days_employed', 'dob_years', 'debt', 'total_income']].describe().loc[['min', 'max']].astype('int')

     children  days_employed  dob_years  debt  total_income
min         0             24         19     0         20667
max         5          18388         75     1       2265604

Все аномалии устранены, можно переходить к заполнению пропусков

In [19]:
df.days_employed.max()

18388.949900568383

#### Шаг 2.2 Заполнение пропусков

Заменим оставшиеся пустые строки медианным значением:

In [20]:
df['total_income'] = df['total_income'].fillna(df['total_income'].median())
df['days_employed'] = df['days_employed'].fillna(df['days_employed'].median())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

Для заполнения пропусков была использована функция `.median()`, которая считает медианное значение по столбцу. В отличие от функции среднего значения `.mean()`, медианные значения не будут искажать данные в случае наличия  неравномерного распределения между значениями

#### Шаг 2.3. Изменение типов данных

Для дальнейшей работы с таблицей стоит заменить типы данных для следующих столбцов:
* `days_employed` - с float64 на int64
* `total_income` - с float64 на int64

In [21]:
df['days_employed'] = df['total_income'].astype('int')
df['total_income'] = df['total_income'].astype('int')

#### Шаг 2.4. Удаление дубликатов

Проверим, есть ли в таблице явные дубликаты:

In [22]:
df.duplicated().sum()

54

Лучше начать удаление от дубликатов с проверки значений столцбов типа `object` на наличие неявных дублей:

In [23]:
object_columns = ['education', 'family_status', 'gender', 'income_type', 'purpose']
values_object_columns = {'education' : []
                 , 'family_status' : []
                 , 'gender' : []
                 , 'income_type' : []
                 , 'purpose' : []
                 }

for column in object_columns:
    values_object_columns[column].append(df[column].unique())

values_object_columns

{'education': [array(['высшее', 'среднее', 'Среднее', 'СРЕДНЕЕ', 'ВЫСШЕЕ',
         'неоконченное высшее', 'начальное', 'Высшее',
         'НЕОКОНЧЕННОЕ ВЫСШЕЕ', 'Неоконченное высшее', 'НАЧАЛЬНОЕ',
         'Начальное', 'Ученая степень', 'УЧЕНАЯ СТЕПЕНЬ', 'ученая степень'],
        dtype=object)],
 'family_status': [array(['женат / замужем', 'гражданский брак', 'вдовец / вдова',
         'в разводе', 'Не женат / не замужем'], dtype=object)],
 'gender': [array(['F', 'M', 'XNA'], dtype=object)],
 'income_type': [array(['сотрудник', 'пенсионер', 'компаньон', 'госслужащий',
         'безработный', 'предприниматель', 'студент', 'в декрете'],
        dtype=object)],
 'purpose': [array(['покупка жилья', 'приобретение автомобиля',
         'дополнительное образование', 'сыграть свадьбу',
         'операции с жильем', 'образование', 'на проведение свадьбы',
         'покупка жилья для семьи', 'покупка недвижимости',
         'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
         'строительство собственной недвижимости', 'недвижимость',
         'строительство недвижимости', 'на покупку подержанного автомобиля',
         'на покупку своего автомобиля',
         'операции с коммерческой недвижимостью',
         'строительство жилой недвижимости', 'жилье',
         'операции со своей недвижимостью', 'автомобили',
         'заняться образованием', 'сделка с подержанным автомобилем',
         'получение образования', 'автомобиль', 'свадьба',
         'получение дополнительного образования', 'покупка своего жилья',
         'операции с недвижимостью', 'получение высшего образования',
         'свой автомобиль', 'сделка с автомобилем',
         'профильное образование', 'высшее образование',
         'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
         'заняться высшим образованием'], dtype=object)]}

Итак:
* в столбце `education` необходимо перевести все строки в единый регистр;
* столбец `family_status` в порядке. Дополнительно можно перевести все строки в единый регистр;
* столбец `income_type` в порядке;
* в столбце `gender` есть значение `XNA`. Для более понятного представления данных можно заменить эти значения на `UNKNOWN`;
* Столбец `purpose` содержит очень много одинаковых значений, сформулированных по-разному. В следующих пунктах стоит категоризитровать цели кредита

Перед удалением дубликатов разберемся со столбцами `education`,`family_status`, `gender`:

In [24]:
df['education'] = df['education'].str.lower()
df['family_status'] = df['family_status'].str.lower()
df.loc[df['gender'] == 'XNA', 'gender'] = 'UNKNOWN'

Посчитаем, стало ли дубликатов больше:

In [25]:
df.duplicated().sum()

71

Количество дубликатов увеличилось. Возможно, новые дубли появились из-за регистра в столбце `education`. Удалим явные дубликаты:

In [26]:
df = df.drop_duplicates().reset_index(drop=True)

Значений стало меньше, дубликаты удалены. В данных присутствовали и явные, и неявные дубликаты

#### Шаг 2.5. Формирование дополнительных датафреймов словарей, декомпозиция исходного датафрейма

Для того, чтобы упростить работы с таблицей и сделать рабочий файл легче, стоит создать словари для определения семейного статуса и уровня образования:

In [27]:
education_dict = df[['education_id', 'education']].drop_duplicates().reset_index(drop=True)
family_status_dict = df[['family_status_id', 'family_status']].drop_duplicates().reset_index(drop=True)

После создания таких словарей можно удалить столбцы 'education' и 'family_status' из исходной таблицы:

In [28]:
df = df.drop(df.columns[[3, 5]], axis=1)

#### Шаг 2.6. Категоризация дохода

Чтобы категоризировать доход, воспользуемся заданными диапазонами:
* 0–30000 — `E`
* 30001–50000 — `D`
* 50001–200000 — `C`
* 200001–1000000 — `B`
* 1000001 и выше — `A`

In [29]:
def income_category_qualifier(row):
    if row['total_income'] <= 30000:
        return 'E'
    if row['total_income'] <= 50000:
        return 'D'
    if row['total_income'] <= 200000:
        return 'C'
    if row['total_income'] <= 1000000:
        return 'B'
    return 'A'

df['total_income_category'] = df.apply(income_category_qualifier, axis=1)
df.head()

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,1,253875,42,0,0,F,сотрудник,0,253875,покупка жилья,B
1,1,112080,36,1,0,F,сотрудник,0,112080,приобретение автомобиля,C
2,0,145885,33,1,0,M,сотрудник,0,145885,покупка жилья,C
3,3,267628,32,1,0,M,сотрудник,0,267628,дополнительное образование,B
4,0,158616,53,1,1,F,пенсионер,0,158616,сыграть свадьбу,C

#### Шаг 2.7. Категоризация целей кредита

Далее перейдём к столбцу `purpose`. Задача - назначить всем ячейкам из этого столбца одно из значений:  
* операции с автомобилем;
* операции с недвижимостью;
* проведение свадьбы;
* получение образования;

Для начала стоит подобрать правильные условия для категоризации цели кредита:

In [30]:
unique_purposes = df['purpose'].unique()
error_purposes = {'операции с автомобилем' : []
                , 'операции с недвижимостью' : []
                , 'проведение свадьбы' : []
                , 'получение образования' : []
                , 'другие операции' : []
                 }

for value in unique_purposes:
    if 'образовани' in value:
        error_purposes['получение образования'].append(value)
    elif 'авто' in value:
        error_purposes['операции с автомобилем'].append(value)
    elif 'свадьб' in value:
        error_purposes['проведение свадьбы'].append(value)
    elif ('недвиж' in value) or ('жил' in value): 
        error_purposes['операции с недвижимостью'].append(value)
    else:
        error_purposes['другие операции'].append(value)
        
error_purposes

{'операции с автомобилем': ['приобретение автомобиля',
  'на покупку подержанного автомобиля',
  'на покупку своего автомобиля',
  'автомобили',
  'сделка с подержанным автомобилем',
  'автомобиль',
  'свой автомобиль',
  'сделка с автомобилем',
  'на покупку автомобиля'],
 'операции с недвижимостью': ['покупка жилья',
  'операции с жильем',
  'покупка жилья для семьи',
  'покупка недвижимости',
  'покупка коммерческой недвижимости',
  'покупка жилой недвижимости',
  'строительство собственной недвижимости',
  'недвижимость',
  'строительство недвижимости',
  'операции с коммерческой недвижимостью',
  'строительство жилой недвижимости',
  'жилье',
  'операции со своей недвижимостью',
  'покупка своего жилья',
  'операции с недвижимостью',
  'покупка жилья для сдачи',
  'ремонт жилью'],
 'проведение свадьбы': ['сыграть свадьбу', 'на проведение свадьбы', 'свадьба'],
 'получение образования': ['дополнительное образование',
  'образование',
  'заняться образованием',
  'получение образования',
  'получение дополнительного образования',
  'получение высшего образования',
  'профильное образование',
  'высшее образование',
  'заняться высшим образованием'],
 'другие операции': []}

Условия корректно описывают данные, поэтому можно переходить к написанию и применению функции:

In [31]:
def purpose_qualifier(raw):
    if 'образовани' in raw['purpose']:
        return 'получение образования'
    if 'авто' in raw['purpose']:
        return 'операции с автомобилем'
    if 'свадьб' in raw['purpose']:
        return 'проведение свадьбы'
    if ('недвиж' in raw['purpose']) or ('жил' in raw['purpose']): 
        return 'операции с недвижимостью'
    return 'другие операции'

df['purpose_category'] = df.apply(purpose_qualifier, axis=1)
df.head()

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,253875,42,0,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,112080,36,1,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,145885,33,1,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,267628,32,1,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,158616,53,1,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы

### Шаг 3. Анализ данных

#### Вопрос 1: Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [32]:
children_grouped = df.groupby('children').agg({'debt': ['count', 'sum']})
children_grouped['debtors_share'] = children_grouped['debt']['sum'] / children_grouped['debt']['count']
children_grouped

           debt       debtors_share
          count   sum
children
0         14214  1072      0.075419
1          4808   444      0.092346
2          2052   194      0.094542
3           330    27      0.081818
4            41     4      0.097561
5             9     0      0.000000

По данным можно увидеть, что:
* Отсутствие детей, скорее, положительно влияет на надежность заёмщика
* Надежность клиентов с одним и двумя детьми находится примерно на одном уровне
* Клиенты с 3-мя детьми, скорее, более надежны, чем клиенты с одним или двумя детьми
* Данных по клиентам с 4-мя и 5-ю детьми слишком мало, поэтому делать выводов по ним не представляется возможным

#### Вопрос 2: Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [33]:
warnings.simplefilter("ignore")
family_status_grouped = df.groupby('family_status_id').agg({'debt': ['count', 'sum']})
family_status_grouped['debtors_share'] = family_status_grouped['debt']['sum'] / family_status_grouped['debt']['count']
family_status_grouped = family_status_grouped.merge(family_status_dict, on='family_status_id', how='left')
family_status_grouped

,family_status_id,"(debt, count)","(debt, sum)","(debtors_share, )",family_status
0,0,12339,931,0.075452,женат / замужем
1,1,4151,388,0.093471,гражданский брак
2,2,959,63,0.065693,вдовец / вдова
3,3,1195,85,0.071130,в разводе
4,4,2810,274,0.097509,не женат / не замужем

По данным можно увидеть, что:
* наличие официального брака повышает надежность заёмщика
* самые надежные заёмщики - вдовцы, вдовы и клиенты в разводе
* самые ненадежные заёмщики - это лица без супруга/супруги или находящиеся гражданском браке

#### Вопрос 3: Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [34]:
income_category_grouped = df.groupby('total_income_category').agg({'debt': ['count', 'sum']})
income_category_grouped['debtors_share'] = income_category_grouped['debt']['sum'] / income_category_grouped['debt']['count']
income_category_grouped

                        debt       debtors_share
                       count   sum
total_income_category
A                         25     2      0.080000
B                       5041   356      0.070621
C                      16016  1360      0.084915
D                        350    21      0.060000
E                         22     2      0.090909

По данным можно увидеть, что:
* Для анализа категорий A и E данных недостаточно
* Между доходом и надежностью заёмщика не выявлено явной зависимости

#### Вопрос 4: Как разные цели кредита влияют на его возврат в срок?

In [35]:
df.pivot_table(index='purpose_category', values='debt', aggfunc=['count', 'sum', 'mean'])

                          count  sum      mean
                           debt debt      debt
purpose_category
операции с автомобилем     4306  403  0.093590
операции с недвижимостью  10811  782  0.072334
получение образования      4013  370  0.092200
проведение свадьбы         2324  186  0.080034

По данным можно увидеть, что:
* Самые надежные сделки - операции с недвижимостью
* Самые рискованные сделки - операции с автомобилем и получение образования

### Шаг 4. Общий вывод

В результате анализа были выявлены некоторые полезные данные для бизнеса:
* Клиенты без детей более надежны, чем клиенты с детьми
* Наличие официального брака повышает надежность заёмщика. Статус вдовы, вдовца или разведенного/разведенной ещё больше повышают надежность заёмщика
* Операции с недвижимостью - самые надежные. Операции с автомобилем и образованием - самые ненадежные

Некоторые гипотезы были опровергнуты:
* Между доходом и надежностью заёмщика не выявлено прямой взаимосвязи

По данным можно составить портрет надежного заёмщика: находится или ранее находился в официальном браке, не имеет детей, цель кредита - операция с недвижимостью

Портрет заёмщика с наибольшей вероятностью просрочки выглядит так: не состоит в официальном браке, в семье есть ребенок, цель кредита - операция с автомобилем